.categoryFilter{
    display: flex;
    width: 100%;
}
.itemData{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;

}
.byData{
    font-size: 15px;
    padding-top: 10px;
    width: 100%;
    border-top: solid 1px rgba(15, 172, 93, 0.733);
}

.catItems{
    color: black !important;
    min-height: 50px;
    margin: 20px 10px;
  padding: 30px;
  border-radius: 20px;
background: #cff2e6;
box-shadow:  9px 9px 18px #b2d0c6,
           -9px -9px 18px #ecffff;
           max-width: 500px;
           height: fit-content;
  


}
.noCatItems{
    color: black !important;
    min-height: 50px;
    margin: 20px 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories{
    border-radius: 43px;
    width: 100%;
    box-shadow:  14px 14px 21px #aecbc1,
             -14px -14px 21px #f0ffff;
             z-index: 1;
    font-size: 17px;
    background: #def3ec;
    padding: 10px 50px;
    width: 100%;
    margin-top: 20px ;
    margin-right: 20px;
}

.categoryList{
   float: left;
   margin-left: 20px;
   margin-top: 20px;
}

.catLink{
    color: black;
       background-color: #def3ec;
}
.catLink :hover{
    color: darkcyan;
}
.catLinkActive{
    background-color: #def3ec !important;
    color: darkcyan;
}

.itemList{
   color: black; 
   margin-left: 30px;
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
}

.itemImage{
    border-radius: 60%;
    margin-right: 10px;
}
.itemName{
    padding: 2px;
    margin: 0;
}
.itemInfo{
    padding: 0px;
    margin: 2px;
    font-size: 15px;
}
.expDate{
    font-size: 17px;
}
.category{
    color: black;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    color: darkcyan;
}
button.modal-btn.butn.btn-primary {
    margin-top: 40px;
    background-color: darkcyan !important;
    margin-left: 0px;
}

button.modal-btn.butn.btn-primary :hover {
    margin-top: 40px;
    background-color: darkcyan !important;
    margin-left: 0px;
}

.btn-cards{
    float: left;
    align-items: left;
    justify-content: left;

}
.addBtn{
    display: flex;
  margin-left: 40px ;
  margin-top: 30px;;
}

.deleteBtn{
    color: #fafafa;
    background-color: #F32C52;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 20px;
}
.deleteBtn:hover{
    background-color: rgb(116, 27, 27);
}

.donateBtn{
    color: #fafafa;
    background-color: #80CEE1;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 10px;
}

.donateBtn:hover{
    background-color: #2b788b;
}

