
  body {
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    background: #fcf8f2;
    overflow-x: hidden;
  }
    .home{
        color: black;
    }
  h5{
    font-size: 17px;
    margin-top: 130px !important;
    text-align: justify;
    font-weight: 600;
  }
   .image{
      width: 350px;
     height: 350px;
     margin-top: 20px;
     margin-left: -50px;
   }
   .image2{
    width: 400px;
    height: 350px;
    margin-top: 50px;
   }
   .image3{
    width: 350px;
   height: 350px;
   margin-top: 20px;
   /* margin-left: -50px; */
 }
   .header{
     color: #006400;
     font-size: 50px !important;
     margin-left: 100px;
     margin-right: 0px;
     margin-top: 10px;
     font-weight: 600;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
   .heh{
     border-radius: 20px !important;
     background: #114D4D;
     color: white;
     margin: 2%;
     margin-bottom: -100px;
   }
   .heh2{
    border-radius: 20px !important;
    background: #114D4D;
    color: white;
    margin: 2%;
  }
   .text{
     margin-top: -120px;
     margin-bottom: 50px;
     margin-left: 200px;
     line-height: 150%;
   }
   .text2{
    margin-top: 100px !important;
    margin-bottom: 20px;
    margin-right: 30px;
    line-height: 150%;
  }
  .text3{
    margin-top: 20px;
    margin-bottom: -20px;
  }

.reduce{
  width: 100%;
  margin-top: -10px;
  padding: 50px;
  display: flex;
  vertical-align: middle;
  line-height: 100px;
}
.bannerReduce{
  color: #114D4D;
  font-size: 4rem!important;
    font-weight: 1000 !important;
    text-align: right;
    margin-top: 100px;
}
.ig{
  border-radius: 70%;
  width: 35%
}
.words{
  width: 350px;
     height: 350px;
     margin-top: 30px;
     margin-left: 80px;
     border-radius: 20px;
     background-color: #5dbc9d;
     box-shadow:  14px 14px 21px #aecbc1,
             -14px -14px 21px #f0ffff;

}
.ban{
  background-color: #114D4D;
  color: white;
  margin-left: -100px;
}
.ft{
  /* margin-left: 20px; */
  margin-bottom: 20px;
}
.feat{
  /* border-radius: 20px !important; */
  /* background: #114D4D; */
  color: black;
  /* margin: 2%; */
  margin-bottom: 10px;
  margin-top: 10px;
  /* margin-right: 20px;
  margin-left: -5px; */
}