.name{
    color: black;
    margin-top: 50px;
}
.recipeI{
    width: 120px;
    height: 120px;
    margin-right: 800px;
    margin-top: 20px;
    border-radius: 50%;
}
.ingredients{
    color: black;
    margin-top: 30px;
    float: left;
    flex-wrap: wrap;
}
.steps{
    color: black;
    margin-top: 30px;
    float: left;
    flex-wrap: wrap;
}