.dashboardPage {
  color: black;
  margin-top: 20px;
}
.list-item {
  width: 800px;
  height: 50px;
  margin: 10px 10px;
  padding: 10px;
  display: inline-flex;
  border-radius: 10px;
  background: #cff2e6;
  box-shadow: 9px 9px 18px #b2d0c6, -9px -9px 18px #ecffff;
  justify-content: space-between;
}
.list-item1 {
  width: 800px;
  height: 50px;
  margin: 10px 10px;
  padding: 10px;
  display: inline-flex;
  border-radius: 10px;
  background: #5dbc9d;
  box-shadow: 9px 9px 18px #b2d0c6, -9px -9px 18px #ecffff;
  justify-content: space-between;
}

.bin {
  margin-bottom: auto;
  text-align: right;
  padding-right: 4%;
  color: rgb(134, 4, 4);
}

.name {
  text-align: left;
}

.quantity {
  margin-left: 44% !important;
}

.qtyWrapper {
  display: block;
}

.qty {
  width: 20px;
  font-size: 15px;
  margin-top: -1.7%;
  margin-left: 40%;
}
