.dashboardPage {
  color: black;
  margin-top: 20px;
}
.list-item {
  width: 800px;
  height: 50px;
  margin: 10px 10px;
  padding: 10px;
  display: inline-flex;
  border-radius: 10px;
  background: #cff2e6;
  box-shadow: 9px 9px 18px #b2d0c6, -9px -9px 18px #ecffff;
  justify-content: space-between;
}
.list-item1 {
  width: 800px;
  height: 50px;
  margin: 10px 10px;
  padding: 10px;
  display: inline-flex;
  border-radius: 10px;
  background: #5dbc9d;
  box-shadow: 9px 9px 18px #b2d0c6, -9px -9px 18px #ecffff;
  justify-content: space-between;
}

.bin {
  margin-bottom: auto;
  text-align: right;
  padding-right: 4%;
  color: rgb(134, 4, 4);
}

.name {
  text-align: left;
}

.quantity {
  margin-left: 44% !important;
}

.qtyWrapper {
  display: block;
}

.qty {
  width: 20px;
  font-size: 15px;
  margin-top: -1.7%;
  margin-left: 40%;
}
.buttn{
  width: 150px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: 18px;
  background-color: #114d4d;
  padding: 5px 10px;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

}
.buttn:hover{
  color: #cff2ec;
  background-color: #216363;
}
.itemName2{
  width: 400px;
}
.itemQty2{
  width: 200px;
}
.itemRemove2{
  width: 150px;
}
td.itemName1 {
  padding-top: 20px;
} 
 p.itemQty1 {
  display: block;
  width:  fit-content;
  margin: 0 auto;
}
.shopThead{
  background-color: #72d1b0;
}
.shopTbody{
  background-color: #d8f1e9;
}